.new_document
  .headers
    %h2= "Doklady"

  = link_to fa_icon('plus', :text => "Přidat nový doklad"), new_document_path, :class => 'btn btn-default', :remote => true

.documents_table
  = render  'documents/documents_table'
