body {
  padding-top: 60px;
  padding-bottom: 50px;
  background-color: #f5f5f5;
}

.headers {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin-bottom: 18px;
}

.welcome-img {
  margin: 0 30px 5px 30px;
  display: inline-block;
}


.welcome-img-all-wrap {
  margin-left: auto;
  margin-right: auto;
  display: table;

  .welcome-img-wrapper {
    margin-bottom: 10px;
    width: 160px;
    display: inline-table;

  }

  .welcome-img {
    margin: 0 30px 5px 30px;
    display: inline-block;
  }

  .welcome-image-text {
    padding: 3px;
    color: white;
    background-image: linear-gradient(to bottom, #00ac00 0%, #007c00 100%);
    text-align: center;
    width: 207px;
    margin: 0 30px 5px 30px;
    letter-spacing: 0.8px;
    text-transform: uppercase;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.ms-ctn {
  .ms-res-ctn {
    overflow: hidden;

    .ms-res-item {
      .ms-res-item-content {
        max-width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        img.avatar {
          max-width: 32px;
          margin-right: 8px;
        }

        .info {
          float: top;
          color: #999;
          font-size: 15pt;
        }
      }
    }
  }

  .ms-sel-ctn {
    margin-left: 0;

    input[type="text"] {
      min-height: 22px;
      margin: 0;
    }

    .ms-sel-item {
      .ms-sel-item-content {
        float: left;
      }
    }
  }
}
