- if @products.present?
  %table.table.table-hover.top-spaced.Products-table
    %thead
      %tr
        %th Produkt
        %th

    %tbody
      - @products.each do |product|
        %tr
          %td=product.name

          %td
            = link_to fa_icon('eye', :text => "Zobrazit"), product_path(product), :class => 'btn btn-default'
            = link_to fa_icon('trash', :text => "Smazat"), product_path(product), :method => :delete, :class => 'btn btn-default', :remote => true, :data => { :confirm => "Jste si jisti, že chcete smazat tento produkt?" }

- else
  = "Nejsou zde zatím žádné produkty"