.headers
  %h2= @product.name

%h4="Popis produktu:"

= @product.description

.pull-right
  = image_tag picture_url(@product, :medium)

%h4="Dostupné varianty:"

.variants
  = render  'variants/variants'

